body {
  font-family: Arial;
  background-color: #111;
  color: #eee;
  padding: 20px;
}
h1 {
  color: #0f0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #444;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #222;
}